<h1 class="page-title">About</h1>


<div class="about-container">
<p>It's often difficult and time-consuming for musicians to find a new piece of repertoire, so we built Musexplorer. Musexplorer is a tool that matches your musical needs to a piece that you'll love to play. Our large database and unique matching algorithm allow you to find a piece of music in less than a minute. </p>
<p>
Born in Start Up Camp PDX 2015, Musexplorer is a project currently being developed in TiE Oregon's TYE program. The team is currently headed by CEO and lead developer Isabelle Zheng.
</p>
<h5>Thanks to those who have helped the most along the way:</h5>
<ul>
	<li>Vera Sell</li>
	<li>Daniel M</li>
</ul>
<br>
<p>If you'd like to help with our beta testing period, filling out <a href="https://docs.google.com/forms/d/1VzLhCYw844ZjMRuUP7AFsvaG0fQ3dD2wOAYwXbxi8Gk/viewform" target="_blank">this feedback form</a> would really be appreciated!</p>
</div>